<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border = "3">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Artist</th>
        </tr>
        
        {% for a in album %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.title}}</td>
            <td>{{a.artist}}</td>
        </tr>
        {% endfor %}
    </table>

    <table border = "3">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>album</th>
        </tr>
        
        {% for s in song %}
        <tr>
            <td>{{s.id}}</td>
            <td>{{s.title}}</td>
            <td>{{s.album}}</td>
        </tr>
        {% endfor %}
    </table>


</body>
</html>